<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
<hgroup>
    <h1>Essay Grader</h1>
    <h3>By Tanmay</h3>
</hgroup>
<div class="input"></div>
<form action="{{ url_for('rater1') }}" method="post">

    <textarea name="essay" rows="8" cols="37"></textarea>

    <button type="submit" class="button buttonBlue">Predict
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button> {{ rater1_score }}

</form>
<br>
</div>
<footer>
    <a href="https://github.com/tanmaypandey7" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg"></a>
    <p>You Gotta Love <a href="https://github.com/tanmaypandey7" target="_blank">Github</a></p>
</footer>
</body>

</html>