model_config_list: {
  config: {
    name: 'rater1',
    base_path: "/models/normalised_rater1_domain1/",
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  
  config: {
    name: 'rater2',
    base_path: '/models/normalised_rater2_domain1/',
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
}

